<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ produto.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size="12" class="texto-alinhado">
              
            <ion-row class="ion-align-items-center">
              <ion-col size="12" class="ion-text-center">
                <img [src]="pathImgs + produto.imagens" class="imagem"/>
              </ion-col>
            </ion-row> 
                
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                {{produto.nome}}
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-text-center">
                R$ {{ produto.valor}}
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-text-center">
                {{produto.descricao}}
              </ion-col>
            </ion-row>
              
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="ion-align-items-center">
    <ion-col style="background-color: gray">
      <ion-row class="ion-align-items-center">
        
        <ion-col size="6" class="valor"  >
          R$ {{valorMuitoReal}}
        </ion-col>
         
        <ion-col size="6">
          <ion-row class="ion-align-items-center">
            <ion-col size="4" class="ion-text-center">
              <ion-button color="success" (click)="acrescentaQuantidade()" (click)="atualizacaoPreco()">
                <ion-icon name="add" ></ion-icon>
              </ion-button>
            </ion-col>
            
            <ion-col size="4" class="ion-text-center" class="quantidade" >
                {{pedidoquantidade}}
            </ion-col>
            
            <ion-col size="4" class="ion-text-center">
              <ion-button color="danger"  (click)="diminuiQuantidade()" (click)="atualizacaoPreco()">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>  
    </ion-col>
  </ion-row> 
</ion-footer>