.imagem {
    max-width:375px;
    max-height:227.5px;
    width: auto;
    height: auto;
}

.texto-alinhado {
    text-align: center;
}

.valor{
    font-size: 50px;
    text-align: center;
}

ion-button{
    --border-radius: 5px;
    size: 5px;
}

.quantidade {
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    text-align: center;
    color: white;
    max-width:50px;
    max-height:40px;
    width: auto;
    height: auto;
}

.objetos {
    text-align: center;   
}